# From scaffolder
phpcs.xml
wp-cli.local.yml
*.sql
*.tar.gz
*.zip

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea/
.vscode/
*.log
*.swp
*.swo

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
intermediate
cache

# Node and build artifacts
node_modules/
*.zip
*.tar.gz

# Composer
vendor/

# Environment files
.env

# PHP Unit
phpunit.xml.bak
.phpunit.result.cache

# WordPress test temp folders
/tmp/
wordpress/
wordpress-tests-lib/
wp-tests-config.php

# Ignore block build folder
read-more-link/build/